{% extends 'back.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_dashboard') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('category_index') }}">Categories</a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">{{ section_name }}</li>
        </ol>
    </nav>

    {{ include('admin/category/_form.html.twig', {'form_class': 'addingForm'}) }}

{% endblock %}
