<div class="btn-group btn-group-toggle">
    <a href="{{ path(module_name ~ '_edit', {"id": id}) }}" class="btn btn-info">
        <span class="fa fa-pencil"></span>
    </a>
    {{ include('admin/_partials/_delete_form.html.twig') }}
</div>
