<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input autocomplete="off" checked="checked" class="table-filter" id="language-en" name="lang" type="radio" value="en"/>
        English
    </label>
    <label class="btn btn-secondary">
        <input autocomplete="off" class="table-filter" id="language-ar" name="lang" type="radio" value="ar"/>
        عربي
    </label>
</div>
