<button data-url="{{ path(module_name ~ '_status', {"id": id}) }}" class="change-status btn fa {{ (active == 0)? 'fa-times text-danger' : 'fa-check text-success' }}">
    <span class="sr-only">Status</span>
</button>
